@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    height: 100vh;
    width: 100%;
    max-width: 1500px;
    background-color: #f2f2f2;
    margin: 15px;
    padding: 10px; 
}

.top_logo {
    display: flex;
    justify-content: center;
}

.group_chat_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.group_chat_main-text {
    text-align: center;
    padding: 0px 10px;
}

.group_chat_main-text-mobile {
    display: none;
}

.group_chat_main-text p:first-child {
    color: #28283D;
    font-size: 64px;
    font-weight: bold;
}

.group_chat_main-text p:nth-child(2) {
    color: #87879D;
    font-size: 26px;
}

/* DESKTOP group_chat_container */
/* resize text container, fonts, and images */
@media (max-width: 1190px){
    .group_chat_main-text {
        min-height: 301px;
        min-width: 248px;
    }
    .group_chat_main-text p:first-child {
        font-size: 50px;
    }
    .group_chat_main-text p:nth-child(2) {
        font-size: 22px;
    }
    .group_chat_image {
        height: 60%;
        width: 60%;
    }
}